.inputWrapper {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.contactFormInput {
  height: 65px;
  // todo: import Alrdin font
  // font-family: Aldrin, sans-serif;
  font-size: 13px;
  font-weight: 300;
  box-sizing: border-box;
  margin: 0;
  background-color: var(--color-inputBg);
  border-radius: 0;
  border: none;
  padding-left: 25px;
  color: var(--color-primary);
//  ${customMedia.lessThan("desktop")`
//width: 100%;
//  `}
}

.inputWithError {
  margin-top: unset !important;
  border: 2px solid var(--color-highlight);
}

.errorLabel {
  color: var(--color-highlight);
  font-size: 13px;
  opacity: 0;
  transition: all 0.5s ease;
//  ${customMedia.lessThan("desktop")`
//font-size: ${ax("footer-extra-small-font-size")}rem;
//  top: -11px;
//  `}
}

.labelWithError {
  opacity: 0.9;
}
